html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-width: 768px;
}

ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5, h6, hgroup,
p, blockquote, figure,
form, fieldset, input, legend,
pre, abbr {
    margin: 0;
    padding: 0;
}


pre, code,
address, caption,
th, figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

fieldset, iframe,
img {
    border: none;
}

caption,
th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, footer, header, nav, main, section,
summary, details, hgroup,
figure, figcaption {
    display: block;
}

audio, canvas, video,
progress {
    display: inline-block;
    vertical-align: middle;
}

html {
    font-size: 112.5%;
}

body {
    background-color: white;
    color: #333333;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "myriad-pro", "Helvetica Neue", "Arial";
    font-size: 1em;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}

a {
    color: #0088cc; }
    a:visited, a:link, a:active {
        text-decoration: none; }
    a:hover {
        text-decoration: none;
        color: rgba(0, 136, 204, 0.7);
    }

.calloutdescription a:hover {
        text-decoration: underline;
    }

h1 {
    font-size: 3.5em;
    line-height: 1.1;
    font-weight: 200;
    
}

h2 {
    font-size: 3em;
    line-height: 1.11111;
    font-weight: 200;
}

h3 {
    font-size: 2.5em;
    line-height: 1.0625;
    font-weight: 200;
}

h4 {
    font-size: 2em;
    line-height: 1.1;
    font-weight: 200;
}

nav {
    height: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    padding-bottom: 32px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /*border-bottom: 1px solid #484848;*/
    font-family: -apple-system, BlinkMacSystemFont, "myriad-pro", "Helvetica Neue";
    font-weight: 400;
}
   
nav li {
    display: block;
    float: center;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    font-weight: 200;
    margin: 0 auto 0 auto;

}

nav li:hover {
    /*box-shadow: rgb(234, 147, 8) 0px 0px 50px 0px inset;*/
    color: rgb(0, 91, 181);

}



nav li p {
    color: #484848;
    margin-top: 0px;
    font-size: 1.5rem;
    
}

#logo {
    margin: -5px 5px 0 0;   
    width: auto;
}

b {
    font-weight: 400;
}

footer {
    font-weight: 200;
    text-align: center;
    float: left;
    width: 100%;
    height: 200px;
    line-height: 100px;
    background-color: rgb(59, 59, 59);
    color: white;
}

#download-arrow {
    width: 10pt;
    margin: .1rem .5rem 0rem 0;
    display: inline-block;
}

#resume-download:hover {
    text-decoration: underline;
    color: white;
}

#contactimage {
    display: inline-block;
    vertical-align: middle;
}

#contactimage img {
    width: 15rem;
}

#contactinfo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3rem;
}

.contact {
    margin-top: 5rem;
    text-align: center;
}

#active p{
    font-weight: 600;
}

#resume-link {
    letter-spacing: 2pt;
    font-size: 18pt;
}

#title {
    font-weight: 600;
    color: #484848;
    
}

#title:hover > #title-description {
    color: black;
    transition: color 0.2s;
}

#title:visited {
    color: #484848;
}

#title-description {
    font-size: 12pt;
    color: gray;
    font-weight: 500;
    transition: color 0.2s;
}

.sublink a{
    color: #484848;
}



#facebooknotif-description-logo {
    height: 44px;
    
}

#facebooknotif-block {
     background-color: #3B5998;
}



#appheader {
    font-weight: 500;
}

#appparagraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

#about {
    margin-top: 8rem;
    margin-bottom: 8rem;
}


